<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
		
	<bean id="objectSerializer" class="org.danielli.xultimate.core.serializer.java.ObjectSerializer" />
	<bean id="nullableObjectSerializer" class="org.danielli.xultimate.core.serializer.support.NullableStreamSerializer" c:deserializer-ref="objectSerializer" c:serializer-ref="objectSerializer" />
	
	<bean id="mainKryoSerializer" class="org.danielli.xultimate.core.serializer.kryo.MainKryoSerializer" />
	<bean id="rpcKryoSerializer" class="org.danielli.xultimate.core.serializer.kryo.RpcKryoSerializer" />
	<bean id="nullableRpcKryoSerializer" class="org.danielli.xultimate.core.serializer.support.NullableStreamSerializer" c:deserializer-ref="rpcKryoSerializer" c:serializer-ref="rpcKryoSerializer" />
	
	<util:list id="notSupportClassType" >
		<value>java.lang.Number</value>
		<value>java.util.Date</value>
		<value>java.util.Collection</value>
		<value>java.util.Map</value>
	</util:list>
	<bean id="defaultClassTypeNotSupporter" class="org.danielli.xultimate.core.support.DefaultClassTypeNotSupporter" p:notSupportClassTypes-ref="notSupportClassType" />

	<bean id="mainProtobufSerializer" class="org.danielli.xultimate.core.serializer.protostuff.MainProtobufSerializer" p:classTypeSupporter-ref="defaultClassTypeNotSupporter" />
	<bean id="rpcProtobufSerializer" class="org.danielli.xultimate.core.serializer.protostuff.RpcProtobufSerializer" />
	<bean id="nullableRpcProtobufSerializer" class="org.danielli.xultimate.core.serializer.support.NullableStreamSerializer" c:deserializer-ref="rpcProtobufSerializer" c:serializer-ref="rpcProtobufSerializer" />
	
	<bean id="mainProtostuffSerializer" class="org.danielli.xultimate.core.serializer.protostuff.MainProtostuffSerializer" p:classTypeSupporter-ref="defaultClassTypeNotSupporter"/>
	<bean id="rpcProtostuffSerializer" class="org.danielli.xultimate.core.serializer.protostuff.RpcProtostuffSerializer" />
	<bean id="nullableRpcProtostuffSerializer" class="org.danielli.xultimate.core.serializer.support.NullableStreamSerializer" c:deserializer-ref="rpcProtostuffSerializer" c:serializer-ref="rpcProtostuffSerializer" />

	<bean id="dateSerializer" class="org.danielli.xultimate.core.serializer.java.DateSerializer" />
	<util:list id="serializers1">
		<ref bean="dateSerializer" />
		<ref bean="mainProtobufSerializer"/>
	</util:list>
	
	<util:list id="serializers2">
		<ref bean="dateSerializer" />
		<ref bean="mainProtostuffSerializer"/>
	</util:list>
	<bean id="protobufSerializerFactory" class="org.danielli.xultimate.core.serializer.support.SerializerFactory" p:serializers-ref="serializers1" />
	<bean id="protobufDeserializerFactory" class="org.danielli.xultimate.core.serializer.support.DeserializerFactory" p:deserializers-ref="serializers1" />
	<bean id="protostuffSerializerFactory" class="org.danielli.xultimate.core.serializer.support.SerializerFactory" p:serializers-ref="serializers2" />
	<bean id="protostuffDeserializerFactory" class="org.danielli.xultimate.core.serializer.support.DeserializerFactory" p:deserializers-ref="serializers2" />
	
	<bean id="mainObjectSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="false" p:packZerosWithoutOutputStream="true" p:serializer-ref="objectSerializer" />
	<bean id="mainObjectDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="false" p:deserializer-ref="objectSerializer" />
	<bean id="rpcObjectSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="true" p:packZerosWithoutOutputStream="false" p:serializer-ref="nullableObjectSerializer" />
	<bean id="rpcObjectDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="true" p:deserializer-ref="nullableObjectSerializer" />	
	
	<bean id="mainKryoSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="false" p:packZerosWithoutOutputStream="true" p:serializer-ref="mainKryoSerializer" />
	<bean id="mainKryoDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="false" p:deserializer-ref="mainKryoSerializer" />
	<bean id="rpcKryoSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="true" p:packZerosWithoutOutputStream="false" p:serializer-ref="nullableRpcKryoSerializer" />
	<bean id="rpcKryoDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="true" p:deserializer-ref="nullableRpcKryoSerializer" />	
	
	<bean id="mainProtobufSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="false" p:packZerosWithoutOutputStream="true" p:serializer-ref="mainProtobufSerializer" />
	<bean id="mainProtobufDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="false" p:deserializer-ref="mainProtobufSerializer" />
	<bean id="rpcProtobufSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="true" p:packZerosWithoutOutputStream="false" p:serializer-ref="nullableRpcProtobufSerializer" />
	<bean id="rpcProtobufDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="true" p:deserializer-ref="nullableRpcProtobufSerializer" />
	
	<bean id="mainProtostuffSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="false" p:packZerosWithoutOutputStream="true" p:serializer-ref="mainProtostuffSerializer" />
	<bean id="mainProtostuffDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="false" p:deserializer-ref="mainProtostuffSerializer" />
	<bean id="rpcProtostuffSerializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeSerializer" p:checkKnownType="true" p:exportKnownTypeToOutputStream="true" p:packZerosWithoutOutputStream="false" p:serializer-ref="nullableRpcProtostuffSerializer" />
	<bean id="rpcProtostuffDeserializerProxy" class="org.danielli.xultimate.core.serializer.support.BaseTypeDeserializer" p:checkKnownType="true" p:importKnownTypeFromInputStream="true" p:deserializer-ref="nullableRpcProtostuffSerializer" />
</beans>
