<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.apache.logging.log4j.core.web.Log4jServletContextListener</listener-class>
    </listener>
 
    <filter>
        <filter-name>log4jServletFilter</filter-name>
        <filter-class>org.apache.logging.log4j.core.web.Log4jServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>log4jServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
	
	<!-- 日志配置 -->
	<context-param>
		<param-name>loggerHostKey</param-name>
		<param-value>logger.host</param-value>
	</context-param>
	<listener>
		<listener-class>org.danielli.xultimate.web.listener.LoggerHostListener</listener-class>
	</listener>
	
	<!-- 压缩 -->
	<filter>
		<filter-class>org.danielli.xultimate.web.filter.GzipCompressFilter</filter-class>
		<filter-name>gzipCompressFilter</filter-name>
		<init-param>
			<param-name>isGzipEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>gzipCompressFilter</filter-name>
		<servlet-name>spring</servlet-name>
	</filter-mapping>
</web-app>